<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="true">
        <h1> Kategori</h1>
        <mat-nav-list>
            <ul class="navbar-nav mr-auto main-category">
                <li class="nav-item" *ngFor="let navItem of  adminNavBarItems; let i = index">
                    <mat-list-item [routerLink]="[navItem.link]" class="nav-link" routerLinkActive="active">
                        <!-- <mat-icon mat-list-icon class="">{{navItem.icon}}</mat-icon> -->
                        <span>{{navItem.label}}</span>
                        <i *ngIf="navItem.subMenu" class="fa fa-angle-right" aria-hidden="true"></i>
                        <div class="MenuTree">
                            <ul class="sub-category" *ngIf="navItem.subMenu">
                                <li *ngFor="let sub of navItem.subMenu;" class="submenu-item"> {{ sub.label }}</li>
                            </ul>
                        </div>
                    </mat-list-item>
                </li>
            </ul>
        </mat-nav-list>
    </mat-sidenav>

    <div class="content">
        <app-navbar></app-navbar>
    </div>

</mat-sidenav-container>